{
  "URL": "http://localhost:8989",
  "Interval": 120,
  "ScanOnWake": true,
  "ScanOnInterval": false,
  "ScanOnStart": true,  
  "ForceImport": false,
  "ForceImportInterval": 1,
  "ForceImportMode": "Copy",
  "APIKey": ""
}